# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.3DLabyrinth.iml
# Datasource local storage ignored files
/../../../../../../:\ProjetsUnity\3DLabyrinth\.idea\.idea.3DLabyrinth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
